<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>SimpsonAccounter</name>

  <description>
     Let Simpson help you save money!
  </description>

  <author href="https://build.phonegap.com" email="john831118@gmail.com">
      John Liu
  </author>
    
  <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
    <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser"/>
    </feature>

    <feature name="NetworkStatus">
      <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
    </feature>

    <access origin="*" subdomains="true" />

    <allow-navigation href="http://*/*" />
    <allow-intent href="https://*/*" />

</widget>
